@import 'tailwindcss';

.light {
  filter: invert(1) hue-rotate(180deg) saturate(150%);
}

.light img,
.light svg {
  filter: invert(1) hue-rotate(180deg);
}

/* Utility class to disable color inversion */
.no-invert {
  filter: none !important;
}
